.productDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  color: black;
}

.productImage {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
}

.productInfo {
  margin-top: 20px;
  text-align: center;
}

.productName {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.productDescription {
  font-size: 16px;
  margin-bottom: 10px;
}

.productCategory {
  font-size: 14px;
  color:black;
  margin-bottom: 20px;

}

.wishlistButton {
  background-color: #0070f3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.wishlistButton:hover {
  background-color: #005bb5;
}
