.productDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(135deg, #f06, #ffba08);
  animation: fadeIn 1.5s ease-in-out;
}

.productName {
  font-size: 2rem;
  color: white;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.imageSlider {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.productImage {
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  animation: fadeSlide 0.8s ease-in-out;
}
@media (max-width: 640px) {
  .productImage {
    max-width: 400px; /* Adjust max width for screens up to 640px wide */
  }
}@media (max-width: 640px) {
  .previewImage {
    max-width: 50px; /* Adjust max width for screens up to 640px wide */
  }
}

@media (max-width: 360px) {
  .productImage {
    max-width: 300px; /* Adjust max width for screens up to 360px wide */
  }
  
}

.arrow {
  font-size: 2rem;
  color: white;
  cursor: pointer;
  margin: 0 10px;
}

.imagePreviews {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.previewImage {
  /* width: 250px; */
  margin: 0 5px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.previewImage:hover,
.activePreview {
  opacity: 1;
}

.productInfo {
  text-align: center;
  color: white;
}

.productCategory {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.productDescription {
  font-size: 1rem;
  margin-bottom: 20px;
}

.actionButtons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.wishlistButton,
.orderButton,
.contactButton {
  background-color: #0070f3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.wishlistButton:hover,
.orderButton:hover,
.contactButton:hover {
  background-color: #005bb5;
  transform: scale(1.05);
}

.contactIcons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.contactIcons a {
  color: white;
  font-size: 1.5rem;
  margin: 0 10px;
  transition: transform 0.3s ease;
}

.contactIcons a:hover {
  transform: scale(1.2);
}

.footer {
  margin-top: 20px;
  color: white;
  font-size: 0.9rem;
}

@keyframes fadeSlide {
  0% {
      opacity: 0;
      transform: translateX(-100%);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
