.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #f06, #ffba08);
  padding: 20px;
  animation: fadeIn 1.5s ease-in-out;
  margin-top: 50px;
}

.form {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.title {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #333;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 2px solid #ffba08;
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: #f06;
  outline: none;
}

.passwordContainer {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
}

.eyeIcon {
  position: absolute;
  top: 40%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  /* color: #ffba08; */
}

.submitButton {
  background-color: #f06;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #ffba08;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
