.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: linear-gradient(135deg, #f06, #ffba08);
    animation: fadeIn 1.5s ease-in-out;
  }
  
  .searchBar {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #ffba08;
    transition: border-color 0.3s ease;
  }
  
  .searchBar:focus {
    border-color: #f06;
    outline: none;
  }
  
  .grid {
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    gap: 40px;
    flex-direction: row;
    
    align-items: center;
    justify-content: center;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    min-width: 350px;
    height: 300px;
    cursor: pointer;
    animation: scaleUp 0.6s ease;
    position: relative;
  }
  
  .imageContainer {
    position: relative;
    width: 100%;
    height: 70%;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    background: #f06;
  }
  
  .productInfo {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: left;
    /* flex-direction: column; */

  }
  .slider {
    position: relative;
    width: 100%;
    height: 70%;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
  }
  
  .sliderInner {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
  }
  
  .sliderImage {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
  }
  
  .productName {
    font-size: 1.2rem;
    color: #333;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* align-items: flex-start; */
  }
  
  .wishlistIcon {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #ffba08;
    cursor: pointer;
    transition: transform 0.3s ease;
    position: inherit;
  }
  
  .wishlistIcon:hover {
    transform: scale(5.2);
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @keyframes scaleUp {
    0% { transform: scale(0.8); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
  }
  